
body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    margin: 20px;
    font-size: 23px;
    background-image: url("fondonievge.png");
    background-size: cover;
    background-repeat: no-repeat;
    font-size: 2em;
}

.boton-izquierda {
    position: fixed;
    bottom: 20px;
    left: 10px;
    padding: 15px 30px;
    cursor: pointer;
    background-color: #f20000;
    font-size: 23px;
    border-radius: 20px;/*@Ellie con esto se redondean los botones*/
    border: none;
    color: white;
}

.boton-derecha {
    position: fixed;
    bottom: 20px;
    right: 10px;
    padding: 15px 30px;
    cursor: pointer;
    background-color: #3df321;
    font-size: 23px;
    border-radius: 20px;/*@Ellie con esto se redondean los botones*/
    border: none;
    color: white;

    
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    margin-top: 20px;
}

.block {
    width: 80%;
    max-width: 600px;
    padding: 20px;
    border: 3.5px solid #d5d83d;
    border-radius: 20px;
    text-align: center;
    background-color: rgb(140, 138, 143);
}

.block img, .block video {
    width: 400px;
    height: 300px;
    border-radius: 10px;
    object-fit: cover;
}

.video-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

