body {
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
    background-image: url('mar.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    height: 100vh;
  
    
    
  }
  #clock {
          font-size: 3rem;
          font-weight: bold;
          background: #2a4177a9;
          padding: 20px;
          border-radius: 10px;
          box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
      }
  .box {
  width: 60%;
  max-width: 400px;
  padding: 20px;
  border-radius: 20px;
  text-align: center;
  background-color: rgba(159, 203, 221, 0.801);
  margin: auto; 
  display: block; 
  border: 2px solid rgb(66, 66, 66);

}

  h1 {
    text-align: center;
    color: darkred;
    font-size: 3.5em;
  }

  h2 {
    text-align: center;
color: green;
font-size: 2.5em;
padding-top: 0.000000000000000000000000000000000000000000001px;
padding: 0px;
  }

  .container {
    display: flex;
    justify-content: center;
    margin-top: 30px;
  }
  
  .formulario {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 300px;
    background-color:rgba(64, 143, 150, 0.788);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(175, 105, 105, 0.1);
  }
  
  .campo {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  label {
    font-weight: bold;
    width: 120px;
  }
  
  input, select {
    padding: 10px;
    width: 160px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  
  button {
    background-color: forestgreen;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    width: 100%;
    margin-top: 20px;
  }
  
  button:hover {
    background-color: darkgreen;
  }
  

  /* Estilos para las imágenes */
  .image-corazones {
    position: absolute;
    top: 150px;
    right: 120px;
    max-width: 150px;
    height: auto;
  }

  .image-hombre {
    position: absolute;
    bottom: 1px;
    left: -150px;  
    max-width: 800px; 
  }

  .image-campana {
    position: absolute;
    top: 20px;
    left: 20px;
    max-width: 200px;
    height: auto;
  }
  .reloj {
    justify-content: center;
    font-size: 18px;
    font-weight: bold;
    color: #ffffff;
 
  }  
  .boton-izquierda {
    position: fixed;
    bottom: 20px;
    left: 20px;
    padding: 15px 15px; /* Reduciendo el espacio lateral */
    font-size: 18px; /* Ajuste del tamaño del texto */
    cursor: pointer;
    border-radius: 12px; /* Menos curvatura */
    border: none;
    background-color: #f20000;
    z-index: 1000;
    color: white;
}

   /* Estilos del encabezado */
   header {
    background-color: rgba(255, 255, 255, 0.7); /* Color blanco con transparencia */
    color: #333; /* Texto oscuro */
    padding: 10px 0;
    text-align: center;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
    backdrop-filter: blur(10px); /* Efecto de desenfoque */
    border-bottom: 2px solid rgba(255, 255, 255, 0.5); /* Bordes sutiles */
  }


  body {
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
    background-image: url('mar.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    height: 100vh;
    position: relative;
    overflow: hidden;
}

h1 {
    text-align: center;
    color: darkred;
    font-size: 3.5em;
}

h2 {
    text-align: center;
    color: green;
    font-size: 2.5em;
    padding: 0px;
}

/* Estilos del encabezado */
header {
    background-color: rgba(255, 255, 255, 0.7); /* Fondo blanco con transparencia */
    color: #333; /* Texto oscuro */
    padding: 10px 0;
    text-align: center;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
    backdrop-filter: blur(10px); /* Efecto de desenfoque */
    border-bottom: 2px solid rgba(255, 255, 255, 0.5); /* Bordes sutiles */
}

nav a {
    color: #444;
    text-decoration: none;
    margin: 0 15px;
    font-size: 16px;
    font-weight: bold;
    transition: color 0.3s;
}

nav a:hover {
    color: #0d9b2c; /* Cambio de color al pasar el cursor */
}
